
.appHeader {
    grid-area: h;
    display: grid;

    grid-template-areas:
    "s1 s2 s3";
    grid-template-columns: repeat(3, 1fr);


    /*justify-content: space-evenly;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    align-items: center;

    font-family: Arial, serif;

}

.appHeaderSection1 {
    grid-area: s1;
    display: flex;
    justify-content: center;
    grid-gap: 8px;

}

.appHeaderSection2 {
    grid-area: s2;
    display: flex;
    justify-content: center;
    grid-gap: 8px;

}

.appHeaderSection3 {
    grid-area: s3;
    display: flex;
    justify-content: center;
    grid-gap: 8px;

}

.appHeaderIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;

    font-size: 16px;


    width: 178px;
    height: 56px;

    /* desktop/text */

    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


}


.child {

}


/*.appHeader img {*/
/*    width:  420px;*/
/*}*/

/*img.center {*/
/*    display: block;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/

/*img {*/
/*    width: 300%;*/
/*    height: auto;*/
/*    background-color: #00cccc;*/
/*}*/

/*.appHeader_Logo {*/
/*    text-align: center;*/
/*    image-orientation: revert;*/
/*    background-color: #00cccc;*/
/*}*/